// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (
    100: #FFE080,
    200: #FFD54F,
    300: #D4AF37,
    400: #B38F26,
    500: #8B6A0E,
  ),
  secondary: (
    100: #C69C6D,
    200: #9A7B50,
    300: #8B572A,
    400: #6E4721,
    500: #4D3318,
  ),
  neutral: (
    100: hsl(0 0% 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(210 10% 14%),
  ),
  dark: (
    100: hsl(240, 4%, 9%),
  ),
);
